* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* NAV */



.nav{
    width: 20vw;
    height: 100vh;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    color: dodgerblue;
    position: fixed;
   font-size: 20px;
   font-weight: 200;
   border: 3px solid white;
   border-top: none;
   border-left: none;
   border-bottom: none;
   box-shadow: black 10px 10px 10px;
}

.nav img {
    height: 150px;
    width: 150px;
    margin-top: 90px;
    border: 1px solid white;
    border-radius: 50%;
    
}

.nav-button {
    height: 100vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.nav-button a {
    padding: 30px;
    color: dodgerblue;
    text-decoration: none;
    /* font-size: 1.5rem; */
    
}

.nav-button a:hover{
    color:darkblue;
}

/* END NAV */

/* WORK */
.services{
    width: 80vw;
    height: 80vh;
    margin-left: 20%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgba(200, 200, 200, 0.3); ;
}

.service-one{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35vw;
    height: 35vh;
}

.service-one img {
    width: 40%;
    height: 45%;
    border: 3px solid whitesmoke;
    border-radius: 15px;
    margin-top: 10px;
}

.service-one p {
    margin-top:10px ;
    padding-left: 20px;
}

.service-one ul {
    margin-top: 10px;
}
/* END WORK */

/* CONACT ME */

#contact-me{
    width: 80vw;
    height: 30vh;
    margin-left: 20%;
    background-color: rgba(250, 250, 250, 0.3);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    margin-top:3% ;
    border-top: 2px solid black;
}

.info-one{
height: 20vh;
width: 35vw;
/* border: 2px solid black; */
color: black;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 3%;

}

.info-one p {
    padding: 2%;
}


/* End Contact Me */
/* END CONTACT ME */

/* MEDIA QUERIES */
@media(max-width:736px){
    .nav{
        display: none;
    }

    #contact-me{
        width: 100vw;
        margin-left: 0;
        
        
    }

    .services{
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        width: 100vw;
        height: 100vh;
    }

    .service-one{
        width: 50vw;
        height: 50vh;
    }
    
    
}
/* END MEDIA QUERIES */