* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* NAV */
.nav{
    width: 20vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.3);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    color: dodgerblue;
    position: fixed;
   font-size: 20px;
   font-weight: 200;
   
   border-top: none;
   border-left: none;
   border-bottom: none;
    box-shadow: rgba(150, 150, 150, 0.5) 10px 10px 10px; 
}

.nav img {
    height: 150px;
    width: 150px;
    margin-top: 90px;
    border: 1px solid rgba(250, 250, 250, 0.3);
    border-radius: 50%;
    
}

.nav-button {
    height: 100vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.nav-button a {
    padding: 30px;
    color: dodgerblue;
    text-decoration: none;
    /* font-size: 1.5rem; */
    font-family: 'IBM Plex Sans', sans-serif;
    
}

.nav-button a:hover{
    color:darkblue;
}

/* END NAV */

/* HOME */
#home{
    width: 80vw;
    height: 100vh;
    margin-left: 20%;
    background-image: url('img/hero3.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home h1 {
    color: white;
    font-size: 90px;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
}

#home h3 {
    color: white;
    font-size: 60px;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
}

#home p{
    color: white;
    font-size:30px ;
    font-weight: 100;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 2%;
}

#home a {
    text-decoration: none;
    color: dodgerblue;
    font-size: 20px;
    border: 2px solid white;
    padding: 5px;
    margin-top: 2%;
    background-color: white; 
    border-radius: 5px;
}

#home a:hover{
    background-color: dodgerblue;
    color: white;
}

.typing-demo {
    width: 30vw;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap; 
    overflow: hidden; 
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    0% {
      border-color: transparent
    } 
  }
/* END HOME */

/* Contact Me  */
#contact-me{
    width: 80vw;
    height: 30vh;
    margin-left: 20%;
    background-color: rgba(250, 250, 250, 0.3);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    margin-top:3% ;
    border-top: 2px solid black;
}

.info-one{
height: 20vh;
width: 35vw;
/* border: 2px solid black; */
color: black;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 3%;

}

.info-one p {
    padding: 2%;
}


/* End Contact Me */


/* MEDIA QUERIES */
@media(max-width:736px){
    .nav{
        display: none;
    }

    #home{
        width: 100vw;
        margin: 0;
        padding-left:10px ;
    }

    #home p {
        padding: 0;
    }

    #contact-me{
        width: 100vw;
        margin-left: 0;
        
        
    }
    .typing-demo{
        display: none;
    }

    
}

    @media(min-width:736px){
        #home a:nth-of-type(2){
            display: none;
           
        }

        #home a:nth-of-type(3){
            display: none;
        }

        #home p:nth-of-type(2){
            display: none;
        }
    }
/* END MEDIA QUERIES */